* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0b0f19;
    /* background-color: #0f172a; */
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
    /* background-color: #ffff; */
}

/* Gradient and layer blur effect  */

.image-gradient {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur {
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}

/* Container */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
    /* background-color: #0b0f19; */
    /* min-height: 100vh; */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
}

header h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
}

nav a {
    font-size: 1.25rem;
    letter-spacing: .25rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
    z-index: 999;

}

nav a:hover {
    color: #a7a7a7;
}

.btn-contact {
    background-color: #a7a7a7;
    color: black;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    cursor: pointer;
    z-index: 999;

}

.btn-contact:hover {
    background-color: #ffff;
}

/* Main COntent*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}

.content {
    max-width: 40rem;
    margin-left: 10%;
    z-index: 999;
}

.tag-box {
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #656565, #7f42a7, #6600c5, #5300a0, #757575, #656565);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);

}

@keyframes animationGradient {
    to {
        background-position: 200%;
    }
}

.tag-box .tag {
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.tag-box .tag:hover {
    color: #5300a0;
}

.content h1 {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: .1rem;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);
}

.description {
    font-size: 1.2rem;
    letter-spacing: .05rem;
    max-width: 35rem;
    color: gray;
    margin-bottom: 50px;
}

.butttons {
    display: flex;
    gap: 1rem;
    margin: 3rem;
}

.btn-about {
    text-decoration: none;
    border: 1px solid #2a2a2a;
    color: #e5e7eb;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: .1rem;
    transition: background-color 0.2s ease;
    margin-right: 1.05rem;
}

.btn-about:hover {
    background-color: #1a1a1a;
    box-shadow: 0 0 8px #7f42a7;
    /* transform: scale(1.05); */
}

.btn-cv {
    background: transparent;
    text-decoration: none;
    background-color: lightgray;
    color: black;
    padding: .6rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .1rem;
    transition: background-color .2s ease;
}

.btn-cv:hover {
    background-color: gray;
}

.btn-cv:active {
    transform: scale(0.95);

}

.btn-about:active {
    transform: scale(0.95);

}

.robot {
    position: absolute;
    top: 0;
    right: -20%;
    filter: contrast(1.1) brightness(.98);
}


/* text */

h1 {
    font-size: 45px;
}

.inner-headings {
    border: 0px solid #ddd;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    text-transform: uppercase;
    overflow: hidden;
}

.inner-headings span {
    position: relative;
    /* color: #a855f7; */
    /* color: #00ffff; */
    color: #00bfff;
    animation: animation 10s ease infinite;
}

@keyframes animation {

    0%,
    100% {
        top: 0;
    }

    20% {
        top: 0;
    }

    25% {
        top: -50px;
    }

    45% {
        top: -50px;
    }

    50% {
        top: -100px;
    }

    70% {
        top: -100px;
    }

    75% {
        top: -150px;
    }

    95% {
        top: -150px;
    }
}

/* Responsive */

/* tablet */

@media(max-width: 1300px) {
    header {
        padding: 1rem .5rem;

    }

    .content {
        margin-top: 85%;
    }

    .robot {
        scale: 0.8;
        top: -20%;
        right: 2%;
    }
}

/* mobile */

@media(max-width: 768px) {
    header {
        padding: 1rem .1rem;
    }

    nav {
        display: none;
    }

    header h1 {
        font-size: 2rem;
    }

    .btn-about {
        padding: 0.6rem 1.5rem;
    }

    .content {
        margin-top: 25rem;
    }

    .robot {
        scale: 0.5;
        top: -25%;
        right: 0;
    }

    .content {
        max-width: 30rem;
        margin-left: 10%
    }

    .tag-box {
        width: 12rem;
    }

    .content h1 {
        font-size: 2.5rem;

    }

    .description {
        font-size: 1rem;

    }

    .btn-about {
        font-size: .8rem;
        padding: .8rem 1.2rem;

    }

    .btn-cv {
        font-size: .8rem;
        padding: .8rem 1.2rem;
    }
}